{% extends "admin_layout.html" %}
<!--title part-->
{% block title %}Add Organizer{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  .card {
    margin-top: 50px;
  }

  #button1 {
    margin-top: 20px;
    width: 150px;
    border-radius: 50px;
    background: url("static/back1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 20px;
  }

  h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: Bahnschrift SemiBold;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  h4 span {
    background: #fff;
    padding: 0 10px;
  }
  #google {
    text-transform: none;
    width: 300px;
    border-radius: 50px;
    background: url("static/back1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .card-header {
    background: url("static/back1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 70px;
    font-family: Bahnschrift SemiBold;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 28px;
  }
  @media (min-width: 300px) and (max-width: 350px) {
    #google {
      width: 200px;
    }
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div
  style="
    background: url('../static/background.avif') no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-header">
            <p style="margin-top: 6px">Add Organizer</p>
          </div>
          <div class="card-body">
            <div class="container mb-2">
              <div class="row justify-content-center">
                <form action="/add_organizer" method="POST">
                  <div class="mb-3" style="margin-top: 30px">
                    <label class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input
                      type="tel"
                      class="form-control"
                      name="phone"
                      maxlength="10"
                      minlength="10"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Organization</label>
                    <select class="form-select" name="organization" required>
                      <option selected>Open this select menu</option>
                      {% for i in data %}
                      <option value="{{i.name}}">{{i.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="row justify-content-center">
                    <button type="submit" id="button1" class="btn btn-primarys">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
