{% extends "participant_layout.html" %}
<!--title part-->
{% block title %}Book Train{% endblock %}
<!--head part-->
{% block head %} {{ super() }}

<style></style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container"></div>
{% endblock %}

<!-- <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/adminlog"
            id="nav"
            ><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Admin Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/stationlog"
            id="nav"
            ><i class="fa fa-train" aria-hidden="true"></i>&nbsp;&nbsp;Station
            Login
          </a>
        </li> -->
<!-- {% if 'participant_name' in session %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-participant"></i>&nbsp;&nbsp;{{session['participant_name']}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="margin-top: 5px">
              <a class="dropdown-item" href="/participantdash"
                ><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Dashboard</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/logout"
                ><i class="fa fa-participant-plus"></i>&nbsp;&nbsp;Logout</a
              >
            </li>
          </ul>
        </li>
        {% elif 'mainadmin' in session %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-participant"></i>&nbsp;&nbsp;{{session['mainadmin_name']}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="margin-top: 5px">
              <a class="dropdown-item" href="/admdash"
                ><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Dashboard</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/logout"
                ><i class="fa fa-participant-plus"></i>&nbsp;&nbsp;Logout</a
              >
            </li>
          </ul>
        </li> -->

<!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-participant"></i>&nbsp;&nbsp;participant
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="margin-top: 5px">
              <a class="dropdown-item" href="/participantlog"
                ><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/participantreg"
                ><i class="fa fa-participant-plus"></i>&nbsp;&nbsp;Register</a
              >
            </li>
          </ul>
        </li> -->
